body{
	background: url(../../includes/wood.PNG) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

#head{
	display: flex;
	justify-content: center;

}
	
.nav{
	margin-left: 1em;
	margin-right: 1em;
}

#welcome{margin-left: 2em;}

#contact{margin-right: 2em;}

.title{
	text-align: center;
	color: rgb(255,255,128);
	font-size: 50px;
	font-family: "Tempus Sans ITC";
}

p{
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: "Tempus Sans ITC";
}

.bold{color: rbg(255,255,128);}

.img_container{
	display: table;
	width: 90%;
	margin: 20px auto;
}

.img_container div{
	display: table-cell;
	text-align: center;
	width: 30%;
}

.img{
	width: 100%;
	max-width: 99%;
}